version: "3.3"

services:

  etl_container:
    image: etl
    volumes:
      - ./main.py:/app/main.py
      - ./connection.py:/app/connection.py
      - ./etl.py:/app/etl.py
      - ./etl_functions.py:/app/etl_functions.py
      - ./get_info.py:/app/get_info.py
      - ./datacon.csv:/app/datacon.csv
      - ./dataorg.csv:/app/dataorg.csv
    command: tail -f /dev/null

  health_2:
    image: opendx/gnu_health
    build:
      context: .
    environment:
      - DB_NAME=ghs2
    links:
      - postgres
    ports:
      - "8001:8000"
      - "8070:8069"
    volumes:
      - ${VOLUMES_BASE_PATH:-./volumes}/ghs2_local:/home/gnuhealth/gnuhealth/tryton/server/modules/local
    depends_on:
      postgres:
        condition: service_healthy

  health_1:
    image: opendx/gnu_health
    build:
      context: .
    environment:
      - DB_NAME=ghs1
    links:
      - postgres
    ports:
      - "8000:8000"
      - "8069:8069"
    volumes:
      - ${VOLUMES_BASE_PATH:-./volumes}/ghs1_local:/home/gnuhealth/gnuhealth/tryton/server/modules/local
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15.2-alpine
    environment:
      - POSTGRES_USER=gnuhealth
      - POSTGRES_PASSWORD=gnuhealth
      - PGDATA=/var/lib/postgresql/data/
    volumes:
      - ${VOLUMES_BASE_PATH:-./volumes}/pg:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U gnuhealth -d gnuhealth" ]
      interval: 1s
      timeout: 3s
      retries: 5

  web:
    image: "${DHIS2_IMAGE:-dhis2/core:2.39.1.1}" # core:2.39.1.1 es como la última versión estable
    ports:
      - 127.0.0.1:8080:8080 # DHIS2
      - 127.0.0.1:8081:8081 # Debugger: connect using commandline flag -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8081
      - 127.0.0.1:9010:9010 # JMX port (for example for VisualVM)
    volumes:
      - ./docker/dhis.conf:/opt/dhis2/dhis.conf:ro
      - ./docker/log4j2.xml:/opt/dhis2/log4j2.xml:ro
    environment:
      JAVA_OPTS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8081 \
                -Dlog4j2.configurationFile=/opt/dhis2/log4j2.xml
                -Dcom.sun.management.jmxremote \
                -Dcom.sun.management.jmxremote.port=9010 \
                -Dcom.sun.management.jmxremote.local.only=false \
                -Dcom.sun.management.jmxremote.authenticate=false \
                -Dcom.sun.management.jmxremote.ssl=false"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: ghcr.io/baosystems/postgis:12-3.3
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      #      - db-dump:/docker-entrypoint-initdb.d/
      - ../DATA-dhis2/:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: dhis
      POSTGRES_DB: dhis
      POSTGRES_PASSWORD: &postgres_password dhis
      PGPASSWORD: *postgres_password # needed by psql in healthcheck
    healthcheck:
      test: [ "CMD-SHELL", "psql --no-password --quiet --username $$POSTGRES_USER postgres://127.0.0.1/$$POSTGRES_DB -p 5432 --command \"SELECT 'ok'\" > /dev/null" ]
      start_period: 120s
      interval: 1s
      timeout: 3s
      retries: 5

  gnu_client:
    image: gnu-hc
    user: root

    links:
      - health_1
      - postgres
    #      - thalamus
    ports:
      - "6901:6901"
      - "8085:8085"
    environment:
      - VNC_DISABLE_AUTH=true
    depends_on:
      - postgres
      #        condition: service_healthy
      - health_1
    command: /bin/bash

